html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body{
    background-color:#E4E5E9;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

header{
    background-color: #323232;
    width: 1074px;
    height: 60px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

header nav{
    color: #F5FFB8;  
    padding-right: 1em;
    line-height: 60px;
    font-weight: 520;
    text-align: right;
}

header nav a{
    color: #F5FFB8;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 520;
    padding: 0.25em;
}

header nav a:hover{
    color: #FFE8FA;
}

.page-content{
    background-color:white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 1074px;
    height: 700px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box{
    border-radius: 10px;
    border: 2px solid black;
    width: 589px;
    height: 220px;
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-top: 0.75em;
}

.box p{
    margin: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    font-size: 1.25em;
}

h1{
    font-weight: bold;
    font-size: 2em;
    color: #5F78FC;
    margin-left: 245px;
    margin-top: 2em;
}

h1.about{
    margin-left: 129px;
}

nav.home-links{
    color: #323232; 
    text-align:center;
    padding: 0.5em;
    font-size: 1.25em;
    position: relative;
    bottom: 0;
}

nav.home-links a{
    color: #323232;
    text-decoration: none;
    padding: 0.25em;
    font-weight: bold;
}

nav.home-links a:hover{
    color: #5F78FC;
}

.contact-p{
    width: 589px;
    height: 140px;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.contact-p p{
    font-size: 1.25em;
    margin-top:1em;
}

.icon-box{
    width: 294px;
    height: 89px;
    border-radius: 20px;
    border: 3px solid #323232;
    background-color: #FFE8FA;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts {
    height: 56px;
    margin:0;
    padding:0;
    list-style-type:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts li{
    height: 56px;
    padding:10px;
}

#self-photo{
    margin-left:126px;
    margin-top:0.5em;
    float: left;
}
