html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body{
    background-color:#E4E5E9;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: #323232;
    width: 1074px;
    height: 72px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

header nav{
    color: #F5FFB8;  
    padding-right: 1em;
    line-height: 72px;
    text-align: right;
}

header nav a{
    color: #F5FFB8;
    text-decoration: none;
    font-size: 1.25em;
    padding: 0.25em;
}

header nav a:hover{
    color: #FFE8FA;
}

.page-content{
    background-color:white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 1074px;
    height: 700px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box{
    border-radius: 10px;
    border: 2px solid black;
    width: 589px;
    height: 194px;
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-top: 0.75em;
}

.box p{
    padding: 0.5em;
    font-size: 1.25em;
}

h1{
    font-weight: bold;
    font-size: 2em;
    color: #5F78FC;
    margin-left: 245px;
    margin-top: 2em;;
}

nav.home-links{
    color: #323232; 
    align-content: center;
    padding: 1em;
    font-size: 1.25em;
    position: absolute;
    bottom: 0;
}

nav.home-links a{
    color: #323232;
    text-decoration: none;
    padding: 0.25em;
    font-weight: bold;
}

nav.home-links a:hover{
    color: #5F78FC;
}